@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-navigation-size: 27px;
}
html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;


}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  scroll-behavior: smooth;
}

.swiper-button-next {
    color: #047857;
    padding: 35px 5px;
    position: absolute;
    right: 0;
    
}

.swiper-button-prev {
  color: #047857;
  padding: 35px 5px;
  position: absolute;
  left: 0;  
}